  /* CSS Dasar & Reset */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      body {
        background-color: #f4f7f6;
        color: #333;
        line-height: 1.6;
      }

      /* Navigasi */
     /* Styling dasar Navbar */


.nav-link:hover,
.nav-link.active {
  background: #3498db;
  color: white !important;
  border-radius: 5px;
}

/* Sembunyikan Checkbox dan Ikon Menu secara default */
#click {
  display: none;
}

.menu-btn {
  display: none; /* Sembunyi di desktop */
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* RESPONSIVE: Untuk layar HP/Tablet (Max-width 768px) */
@media (max-width: 768px) {
  .menu-btn {
    
    display: block; /* Munculkan tombol hamburger */
  }

  
  /* Logika muncul saat diklik */
  #click:checked ~ ul {
    left: 0;
  }

  
}

      /* Hero Section */
      .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?auto=format&fit=crop&w=1000&q=80");
        height: 400px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
      }
      .hero h1 {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      /* Koleksi Unggulan */
      
      .section-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        color: #2c3e50;
      }
      .grid-koleksi {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
      }

      .card {
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        cursor: pointer;
      }
      .card:hover {
        transform: translateY(-10px);
      }
      .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .card-info {
        padding: 15px;
      }
      .card-info h3 {
        font-size: 1.1rem;
        margin-bottom: 5px;
      }
      .card-info p {
        font-size: 0.9rem;
        color: #7f8c8d;
      }
      .status {
        display: inline-block;
        margin-top: 10px;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 0.8rem;
        background: #e7f3fe;
        color: #3498db;
      }
/*Status bar  */
  .status-badge.borrowed {
  background-color: #f8d7da; /* Warna merah muda */
  color: #721c24; /* Warna teks merah gelap */
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 20px; /* Membuat bentuk melengkung/pill */
  font-weight: bold;
  }

      /* Footer */
      footer {
        background: #2c3e50;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
      }

    
